ul {
  list-style: none;
}
.container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ff0359;
  background-color: #fcdce7;
  max-width: 600px;
  margin: 0 auto;
}
.title {
  color: #333333;
}
.contacts {
  color: #333333;
  text-align: left;
}
.no_contacts {
  color: #360102;
  font-size: 14px;
  text-align: left;
}
